
html {
  font-size: 62.5%; //allows for 1rem = 10px;
}

body {
  background: $color-dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  outline: none;
}

button:foucs {
  box-shadow: 0 0 7px $color-purple;
}

button:disabled {
  cursor: default;
}

input[type=text] {
  outline: none;
}

input[type=text]:focus {
  box-shadow: 0 0 7px $color-purple;
}